In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT 
    F.name
    ,M.memid
    ,M.firstname || ' ' || M.surname as member_name
    ,SUM(B.slots) AS usage
    FROM Bookings B
    INNER JOIN Facilities F ON B.facid = F.facid
    INNER JOIN Members M ON B.memid = M.memid
    WHERE M.memid > 0
    GROUP BY
    F.name
    ,M.memid
    ,member_name
    ORDER BY
    usage DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 1, 'Darren Smith', 432)
('Pool Table', 3, 'Tim Rownam', 282)
('Massage Room 1', 3, 'Tim Rownam', 176)
('Tennis Court 1', 5, 'Gerald Butters', 171)
('Tennis Court 2', 8, 'Tim Boothe', 168)
('Table Tennis', 3, 'Tim Rownam', 150)
('Snooker Table', 4, 'Janice Joplette', 142)
('Tennis Court 2', 10, 'Charles Owen', 141)
('Tennis Court 2', 12, 'Anne Baker', 114)
('Squash Court', 12, 'Anne Baker', 110)
('Badminton Court', 2, 'Tracy Smith', 102)
('Tennis Court 2', 11, 'David Jones', 99)
('Badminton Court', 21, 'Anna Mackenzie', 96)
('Tennis Court 2', 9, 'Ponder Stibbons', 96)
('Pool Table', 16, 'Timothy Baker', 95)
('Tennis Court 1', 2, 'Tracy Smith', 93)
('Tennis Court 1', 6, 'Burton Tracy', 93)
('Snooker Table', 2, 'Tracy Smith', 90)
('Snooker Table', 8, 'Tim Boothe', 90)
('Table Tennis', 15, 'Florence Bader', 86)
('Tennis Court 1', 11, 'David Jones', 84)
('Pool Table', 21, 'Anna Mackenzie', 83)
('Tennis Court 1', 7, 'Nancy Dare', 81)
('Squash Court', 6, 'Burton Tracy', 78)
('Massage Room 1', 8, 'Tim Boothe', 76)
('Tennis Court 1', 14, 'Jack Smith', 75)
('Snooker Table', 5, 'Gerald Butters', 72)
('Massage Room 1', 13, 'Jemima Farrell', 68)
('Massage Room 1', 5, 'Gerald Butters', 66)
('Snooker Table', 15, 'Florence Bader', 66)
('Pool Table', 2, 'Tracy Smith', 64)
('Badminton Court', 5, 'Gerald Butters', 63)
('Massage Room 1', 6, 'Burton Tracy', 62)
('Massage Room 1', 1, 'Darren Smith', 58)
('Tennis Court 1', 4, 'Janice Joplette', 57)
('Tennis Court 2', 1, 'Darren Smith', 57)
('Table Tennis', 1, 'Darren Smith', 56)
('Table Tennis', 2, 'Tracy Smith', 56)
('Massage Room 1', 14, 'Jack Smith', 54)
('Table Tennis', 20, 'Matthew Genting', 54)
('Massage Room 1', 20, 'Matthew Genting', 52)
('Tennis Court 1', 10, 'Charles Owen', 51)
('Tennis Court 1', 17, 'David Pinker', 51)
('Massage Room 1', 16, 'Timothy Baker', 50)
('Table Tennis', 10, 'Charles Owen', 50)
('Badminton Court', 9, 'Ponder Stibbons', 48)
('Table Tennis', 6, 'Burton Tracy', 48)
('Table Tennis', 16, 'Timothy Baker', 48)
('Snooker Table', 7, 'Nancy Dare', 46)
('Table Tennis', 22, 'Joan Coplin', 46)
('Tennis Court 1', 16, 'Timothy Baker', 45)
('Snooker Table', 10, 'Charles Owen', 44)
('Snooker Table', 13, 'Jemima Farrell', 44)
('Massage Room 1', 9, 'Ponder Stibbons', 40)
('Massage Room 1', 11, 'David Jones', 40)
('Snooker Table', 6, 'Burton Tracy', 40)
('Snooker Table', 9, 'Ponder Stibbons', 40)
('Massage Room 1', 7, 'Nancy Dare', 38)
('Pool Table', 29, 'Henry Worthington-Smyth', 37)
('Badminton Court', 8, 'Tim Boothe', 36)
('Badminton Court', 14, 'Jack Smith', 36)
('Snooker Table', 24, 'Ramnaresh Sarwin', 36)
('Tennis Court 2', 24, 'Ramnaresh Sarwin', 36)
('Table Tennis', 17, 'David Pinker', 34)
('Tennis Court 2', 7, 'Nancy Dare', 33)
('Snooker Table', 17, 'David Pinker', 32)
('Table Tennis', 21, 'Anna Mackenzie', 32)
('Badminton Court', 7, 'Nancy Dare', 30)
('Badminton Court', 12, 'Anne Baker', 30)
('Pool Table', 6, 'Burton Tracy', 30)
('Squash Court', 1, 'Darren Smith', 30)
('Squash Court', 4, 'Janice Joplette', 30)
('Pool Table', 1, 'Darren Smith', 28)
('Snooker Table', 27, 'Henrietta Rumney', 28)
('Badminton Court', 15, 'Florence Bader', 27)
('Pool Table', 4, 'Janice Joplette', 27)
('Tennis Court 1', 26, 'Douglas Jones', 27)
('Pool Table', 8, 'Tim Boothe', 26)
('Pool Table', 28, 'David Farrell', 25)
('Badminton Court', 11, 'David Jones', 24)
('Massage Room 1', 4, 'Janice Joplette', 24)
('Snooker Table', 1, 'Darren Smith', 24)
('Squash Court', 8, 'Tim Boothe', 24)
('Table Tennis', 13, 'Jemima Farrell', 24)
('Tennis Court 2', 4, 'Janice Joplette', 24)
('Tennis Court 2', 15, 'Florence Bader', 24)
('Pool Table', 15, 'Florence Bader', 23)
('Massage Room 1', 10, 'Charles Owen', 22)
('Squash Court', 14, 'Jack Smith', 22)
('Table Tennis', 11, 'David Jones', 22)
('Badminton Court', 13, 'Jemima Farrell', 21)
('Badminton Court', 16, 'Timothy Baker', 21)
('Badminton Court', 17, 'David Pinker', 21)
('Badminton Court', 24, 'Ramnaresh Sarwin', 21)
('Tennis Court 1', 22, 'Joan Coplin', 21)
('Tennis Court 2', 16, 'Timothy Baker', 21)
('Snooker Table', 22, 'Joan Coplin', 20)
('Pool Table', 7, 'Nancy Dare', 19)
('Badminton Court', 10, 'Charles Owen', 18)
('Pool Table', 20, 'Matthew Genting', 18)
('Squash Court', 5, 'Gerald Butters', 18)
('Table Tennis', 4, 'Janice Joplette', 18)
('Tennis Court 1', 3, 'Tim Rownam', 18)
('Tennis Court 1', 12, 'Anne Baker', 18)
('Tennis Court 1', 28, 'David Farrell', 18)
('Tennis Court 2', 3, 'Tim Rownam', 18)
('Massage Room 1', 24, 'Ramnaresh Sarwin', 16)
('Squash Court', 11, 'David Jones', 16)
('Squash Court', 13, 'Jemima Farrell', 16)
('Badminton Court', 29, 'Henry Worthington-Smyth', 15)
('Tennis Court 1', 24, 'Ramnaresh Sarwin', 15)
('Snooker Table', 21, 'Anna Mackenzie', 14)
('Squash Court', 10, 'Charles Owen', 14)
('Table Tennis', 30, 'Millicent Purview', 14)
('Pool Table', 24, 'Ramnaresh Sarwin', 13)
('Badminton Court', 3, 'Tim Rownam', 12)
('Massage Room 1', 2, 'Tracy Smith', 12)
('Pool Table', 9, 'Ponder Stibbons', 12)
('Pool Table', 12, 'Anne Baker', 12)
('Snooker Table', 33, 'Hyacinth Tupperware', 12)
('Squash Court', 2, 'Tracy Smith', 12)
('Tennis Court 1', 8, 'Tim Boothe', 12)
('Tennis Court 1', 35, 'John Hunt', 12)
('Tennis Court 2', 35, 'John Hunt', 12)
('Pool Table', 22, 'Joan Coplin', 11)
('Massage Room 2', 7, 'Nancy Dare', 10)
('Snooker Table', 14, 'Jack Smith', 10)
('Squash Court', 16, 'Timothy Baker', 10)
('Table Tennis', 7, 'Nancy Dare', 10)
('Table Tennis', 14, 'Jack Smith', 10)
('Pool Table', 17, 'David Pinker', 9)
('Pool Table', 33, 'Hyacinth Tupperware', 9)
('Tennis Court 2', 5, 'Gerald Butters', 9)
('Tennis Court 2', 6, 'Burton Tracy', 9)
('Massage Room 2', 11, 'David Jones', 8)
('Pool Table', 11, 'David Jones', 8)
('Table Tennis', 8, 'Tim Boothe', 8)
('Pool Table', 14, 'Jack Smith', 7)
('Badminton Court', 6, 'Burton Tracy', 6)
('Badminton Court', 26, 'Douglas Jones', 6)
('Badminton Court', 30, 'Millicent Purview', 6)
('Badminton Court', 35, 'John Hunt', 6)
('Badminton Court', 36, 'Erica Crumpet', 6)
('Massage Room 1', 12, 'Anne Baker', 6)
('Massage Room 1', 17, 'David Pinker', 6)
('Massage Room 1', 35, 'John Hunt', 6)
('Massage Room 2', 24, 'Ramnaresh Sarwin', 6)
('Pool Table', 5, 'Gerald Butters', 6)
('Squash Court', 17, 'David Pinker', 6)
('Table Tennis', 9, 'Ponder Stibbons', 6)
('Table Tennis', 24, 'Ramnaresh Sarwin', 6)
('Table Tennis', 29, 'Henry Worthington-Smyth', 6)
('Tennis Court 2', 2, 'Tracy Smith', 6)
('Pool Table', 30, 'Millicent Purview', 5)
('Massage Room 1', 36, 'Erica Crumpet', 4)
('Massage Room 2', 3, 'Tim Rownam', 4)
('Massage Room 2', 4, 'Janice Joplette', 4)
('Massage Room 2', 10, 'Charles Owen', 4)
('Massage Room 2', 12, 'Anne Baker', 4)
('Massage Room 2', 15, 'Florence Bader', 4)
('Massage Room 2', 22, 'Joan Coplin', 4)
('Snooker Table', 11, 'David Jones', 4)
('Squash Court', 9, 'Ponder Stibbons', 4)
('Squash Court', 15, 'Florence Bader', 4)
('Squash Court', 21, 'Anna Mackenzie', 4)
('Squash Court', 24, 'Ramnaresh Sarwin', 4)
('Squash Court', 27, 'Henrietta Rumney', 4)
('Table Tennis', 36, 'Erica Crumpet', 4)
('Badminton Court', 33, 'Hyacinth Tupperware', 3)
('Pool Table', 27, 'Henrietta Rumney', 3)
('Tennis Court 1', 9, 'Ponder Stibbons', 3)
('Tennis Court 1', 13, 'Jemima Farrell', 3)
('Tennis Court 1', 15, 'Florence Bader', 3)
('Tennis Court 1', 20, 'Matthew Genting', 3)
('Tennis Court 1', 36, 'Erica Crumpet', 3)
('Tennis Court 2', 13, 'Jemima Farrell', 3)
('Tennis Court 2', 14, 'Jack Smith', 3)
('Tennis Court 2', 27, 'Henrietta Rumney', 3)
('Tennis Court 2', 28, 'David Farrell', 3)
('Tennis Court 2', 30, 'Millicent Purview', 3)
('Massage Room 1', 21, 'Anna Mackenzie', 2)
('Massage Room 1', 22, 'Joan Coplin', 2)
('Massage Room 1', 29, 'Henry Worthington-Smyth', 2)
('Massage Room 1', 33, 'Hyacinth Tupperware', 2)
('Massage Room 2', 5, 'Gerald Butters', 2)
('Massage Room 2', 14, 'Jack Smith', 2)
('Massage Room 2', 20, 'Matthew Genting', 2)
('Pool Table', 26, 'Douglas Jones', 2)
('Snooker Table', 20, 'Matthew Genting', 2)
('Snooker Table', 28, 'David Farrell', 2)
('Snooker Table', 30, 'Millicent Purview', 2)
('Squash Court', 22, 'Joan Coplin', 2)
('Squash Court', 26, 'Douglas Jones', 2)
('Squash Court', 28, 'David Farrell', 2)
('Squash Court', 30, 'Millicent Purview', 2)
('Squash Court', 33, 'Hyacinth Tupperware', 2)
('Squash Court', 35, 'John Hunt', 2)
('Table Tennis', 5, 'Gerald Butters', 2)
('Table Tennis', 12, 'Anne Baker', 2)
('Table Tennis', 35, 'John Hunt', 2)
('Pool Table', 10, 'Charles Owen', 1)
('Pool Table', 13, 'Jemima Farrell', 1)